SMTP_USER=example
SMTP_PASS=aaaabbbbccccdddd
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_TO=example@gmail.com
DATA_DIR= # ex: /srv/dev-xyz/data
BORG_PASSPHRASE=<SECRET_KEY>
# BORG_UNKNOWN_UNENCRYPTED_REPO_ACCESS_IS_OK=yes
# Verificação pós-upload com rclone check (true por padrão; false desativa)
UPLOAD_VERIFY=true
